* {
    box-sizing: border-box;
}

/* Variáveis */
.include-variables {
    /* Enfiar umas paradas aqui */
    --header-footer-height: 92px;
    --selection-border: 5px;
    --dish-padding: 18px 14px 13px 14px;
    --selected-dish-padding: calc(18px - var(--selection-border)) calc(14px - var(--selection-border)) calc(13px - var(--selection-border)) calc(14px - var(--selection-border));

    --section-margin-left: 16px;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* Fontes */
.header {
    /* Mudar fonte para Righteous */
    height: var(--header-footer-height);
    padding: 8px 0px 18px 21px;
    
    position: fixed;
    left: 0;
    right: 0;
    top: 0;

    z-index: 1;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
    color: #FFFFFF;
    background-color: #CF2B2B;
}

.header-title {
    font-family: 'Righteous', cursive;

    height: 44px;
    font-weight: 400;
    font-size: 44px;
}

.header-subtitle {
    margin-top: 5px;
    height: 17px;
    font-weight: 400;
    font-size: 18px;
}

.container {
    margin: var(--header-footer-height) 0;
    padding: calc(31px - 27px) 0px 16px calc(19px - 16px); /* cálculos feitos para descontar as margens dos elementos contidos nele */
    
    background-color: #E5E5E5;
    /* background-color: yellow; */
}

.section {
    margin-top: 27px;
}

.section-title {
    font-family: 'Righteous', cursive;
    
    margin-top: 25px;
    margin-left: var(--section-margin-left);
    height: 23px;
    font-weight: 400;
    font-size: 26px;
    color: #333333;
}

.footer {
    height: var(--header-footer-height);
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    align-items: center;

    z-index: 1;

    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: #FFFFFF;
    /* background-color: purple; */
}

.font-gray {
    /* Para descrições */
    color: #A6A6A6;
}

.font-semi-black {
    /* Para títulos */
    color: #333333;
}


.dishes {
    display: flex;
    margin-top: 17px;

    overflow-x: scroll;
    
    /* background-color: blue; */
}

.dishes::-webkit-scrollbar {
    /* Tirar Scrollbar ENTENDER O CÓDIGO */
    display: none;
}

.dish {
    width: 172px;
    margin-left: var(--section-margin-left);
    padding: var(--dish-padding);
    
    border-radius: 9px;

    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
    
    background-color: #FFFFFF;
    /* background-color: red; */
    
    position: relative;
}

.selected-dish {
    border: 5px #32B72F solid;
    padding: var(--selected-dish-padding);
}

.dish img {
    height: 87px;
    border-radius: 4px;
}

ion-icon {
    width: 19px;
    height: 19px;

    position: absolute;
    right: calc(11px - var(--selection-border));
    bottom: calc(14px - var(--selection-border));

    color: #32B72F;
}

.hidden-item {
    display: none;
}

.dish-title {
    margin-top: 8px;
    height: 23px;
    font-weight: 700;
    font-size: 16px;
    color: #333333;
}

.dish-description {
    margin-top: 4px;
    margin-bottom: 10px;
    
    line-height: 18px;
    font-weight: 300;
    font-size: 15px;

    color: #A6A6A6;
}

.dish-price {
    margin-top: 5px;
    height: 19px;
    font-weight: 400;
    font-size: 16px;
}

.finalize-order-button {
    width: calc(100vw - 50px);
    height: 48px;
    border-radius: 50px;
    background-color: #CBCBCB;
    border-width: 0px;

    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    
    font-size: 20px;
    line-height: 23px;

    color: #FFFFFF;
}

.ready_to_finalize_order {
    font-weight: 700;
    background-color: #32B72F;
}

.finalize-order-screen {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    
    z-index: 2;
    
    background-color: rgba(255, 255, 255, 0.9);
}

.finalize-order-menu {
    height: 353px;
    width: 90vw;
    padding: 21px 25px 2px 25px;

    position: fixed;
    top: calc((100vh - 377px) / 2);
    left: 5vw;
    border-radius: 9px;

    font-size: 22px;
    color: #FFFFFF;

    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
    
    background-color: #50D074;
}

.finalize-order-menu p {
    line-height: 27px;
}

.finalize-order-menu > p {
    /* Aqui é especificamente o título do menu */
    font-weight: bold;
    text-align: center;
}


.finalize-order-menu button {
    height: 52px;
    width: 100%;

    border-radius: 100px;
    border-width: 0px;

    font-weight: 700;
}

.order-details {
    height: calc(93px + 27px + 27px);
    margin-top: 28px;
    margin-bottom: 24px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.order-detail {
    display: flex;
    justify-content: space-between;
}

.detail-total {
    font-weight: bold;
}

.final-button {
    background-color: #FFFFFF;
    font-size: 22px;
    color: #50D074;
}

.cancel-button {
    background-color: #50D074;
    font-size: 20px;
    color: #FFFFFF;
}
